DATABASE_URL="postgresql://username:password@localhost:5432/sigarxiv"
SHADOW_DATABASE_URL="postgresql://username:password@localhost:5432/sigarxiv_shadow"
OPENAI_API_KEY=""
OPENAI_REVIEW_MODEL="gpt-5-mini"
